.test{
    font-weight: bold;
}

@import "~tailwindcss";
@import "quill.snow";
@import '~vue2-datepicker/index.css';


// vue select overrides

.vs__dropdown-toggle{
    height: 50px;
    margin-top: 8px;
}

.vs__selected{
    padding: 0 0.45em;
}

.vs__deselect {
    margin-left: 5px;
    padding-top: 1px;
}

// vue date picker overrides

.mx-datepicker {
    width: 100%;
}

.mx-input {
    height:50px;
}
